@font-face {
  font-family: "GAGAGAGA-FREE";
  font-weight: normal;
  font-style: normal;
  src: url("./GAGAGAGA-FREE.otf");
}

@font-face {
  font-family: "memoir";
  font-weight: normal;
  font-style: normal;
  src: url("./memoir.otf");
}
